<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" href="css/site.css">

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
    </head>
    <body>
        <div class="container-fluid" ng-app="siteApp" ng-controller="siteCtrl">
            <div class="container-fluid" id="chatArea">
                <div ng-repeat="m in msgs track by $index" class="row msg">
                    <div class="col">{{ m }}</div>
                </div>
            </div>
            <div class="container-fluid" id="msgArea">
                <div class="row h-100 no-gutters" >
                    <div class="col-lg-10">
                        <form id="sendMsgForm" ng-submit="sendMsg()">
                            <input type="text" class="form-control" ng-model="txt"></input>
                        </form>
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary" id="sendButton" form="sendMsgForm">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>       

        <!-- socket.io -->
        <script src="/js/socket.io.js"></script>

        <!-- site js -->
        <script src="/js/site.js"></script>
    </body>
</html>
