#chatArea {
    background-color: #eeeeee;
    height: 85vh;
}

#msgArea {
    background-color: #ffffff;
    height: 15vh;
}

.msg:nth-child(even) {
    background-color: #aaa;
}

.msg:nth-child(odd) {
    background-color: #ddd;
}

